/*Google Font Roboto*/

.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
}

/* Global styles */

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.body {
  padding-right: 15%;
  padding-left: 15%;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0%, rgb(196, 207, 252));
  pointer-events: auto;
}

/*Dropdown navigation*/

nav {
  position: fixed;
  inset: 0% 0% auto;
  display: flex;
  overflow: visible;
  padding-top: 40px;
}

.dropbtn {
  display: block;
  max-height: 44px;
  min-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(158, 178, 255);
  border-radius: 16px;
  box-shadow: rgb(218, 227, 255) 0px 2px 9px 5px;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: rgb(255, 255, 255);
}


